{% extends 'base.html' %}

{% block 'titulo' %}ADO.TE | Dashboard{% endblock %}

{% block 'body' %}
    <div style="padding:40px" class="col-md" align="center">
        <h3 class="font-vinho">Quantidade de adoções por raça</h3>
        <br>
        <hr>
        <br>
        <br>
        <form action="{% url 'dashboard' %}" method="GET" style="margin-left: 150px;" align="left">
            <div class="row">
                <select class="form-select" name="estado" style="width: 25%;">
                    <option value="">Todos os estados</option>
                    {% for estado in estados %}
                        <option value="{{ estado }}" {% if filtro_estado == estado %} selected {% endif %}>
                            {{ estado }}
                        </option>
                    {% endfor %}
                </select>
                <div class="col-md-2">
                    <input type="submit" value="FILTRAR" class="btn-filtrar-dashboard">
                </div>
            </div>
        </form>
        <br>
        <div style="width: 75%;">
            <canvas id="myChart"></canvas>
        </div>
    </div>


    <!-- Dashboard -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script>
        const data = {
            labels: {{ labels|safe }},
            datasets: [{
                label: 'Quantidade de adoções: {{total_quantidade_adocoes}}',
                data: {{ quantidade_adocoes|safe }},
                backgroundColor: 'rgb(255, 99, 132)',
                borderColor: 'rgb(255, 99, 132)',
            }]
            };
        const config = {
            type: 'line',
            data: data,
            options: {}
        };
        const myChart2 = new Chart(
            document.getElementById('myChart'),
            config
        );
    </script>
{% endblock %}