{% extends 'base_auth.html' %}

{% block 'titulo' %}ADO.TE | Login{% endblock  %}

{% block 'body' %}
    <div class="body-form">
        <h2>Login</h2>
        <p>Que bom ter você de volta!</p>
        <hr>
        <form action="{% url 'login' %}" method="POST"> {% csrf_token %}
            <span>Nome de usuário:</span>
            <input type="text" class="form-control" placeholder="Digite seu nome de usuário..." name="nome" required>
            <br>
            <span>Senha:</span>
            <input type="password" class="form-control" placeholder="Digite sua senha..." name="senha" required>
            <input type="submit" value="SALVAR" class="btn-custom-primary">
            <a href="{% url 'cadastro' %}" class="link-float">Cadastre-se</a>
        </form>
    </div>
{% endblock  %}